__pycache__
*.pyc
*.egg-info

.coverage
.tox
/htmlcov

.python-version

node_modules

/static/*
!/static/README.md
/media/*
!/media/README.md
/portfolio/static/*
!/portfolio/static/portfolio

local.py

.idea
.vscode
.history

.env

roadmap.txt
