{% load i18n static wagtailuserbar wagtailimages_tags compress %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_CODE|language_bidi %}dir="rtl"{% endif %}>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="index, follow, archive">
        <meta name="keywords" content="{{ settings.core.PortfolioSettings.seo_keywords|default:"" }}">
        <meta name="description" content="{{ settings.core.PortfolioSettings.seo_description|default:"" }}">
        <meta name="author" content="Yannick Chabbert">
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <link href="{% static 'agency/img/favicon.ico' %}" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
              type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        {# Compress CSS #}
        {% compress css file portfolio %}
        <!-- Bootstrap core CSS -->
            <link href="{% static 'agency/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        <!-- Custom fonts for this template -->
            <link href="{% static 'agency/vendor/fontawesome-free/css/all.css' %}" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template -->
            <link href="{% static 'agency/css/agency.css' %}" rel="stylesheet">
        {% endcompress %}
    </head>

    <body id="page-top">

        <!-- Navigation -->
        {% block navbar %}
            {% include 'navbar.html' %}
        {% endblock %}

        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        <!-- Footer -->
        {% block footer %}
            {% include 'footer.html' %}
        {% endblock %}

        <!-- Django catalog -->
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        {# Compress JS #}
        {% compress js file portfolio-contrib %}
        <!-- Bootstrap core JavaScript -->
            <script src="{% static 'agency/vendor/jquery/jquery.js' %}"></script>
            <script src="{% static 'agency/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
        <!-- Plugin JavaScript -->
            <script src="{% static 'agency/vendor/jquery-easing/jquery.easing.js' %}"></script>
        <!-- Contact form JavaScript -->
            <script src="{% static 'agency/js/jqBootstrapValidation.js' %}"></script>
            <script src="{% static 'agency/js/contact_me.js' %}"></script>
        <!-- Custom scripts for this template -->
            <script src="{% static 'agency/js/agency.js' %}"></script>
        {% endcompress %}

        <!-- Google Analytics -->
        {% with ga_id=settings.core.PortfolioSettings.google_analytics_id %}
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_id }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', '{{ ga_id }}');
            </script>
        {% endwith %}

        <!-- Local Business -->
        {% with psettings=settings.core.PortfolioSettings %}
            <script type="application/ld+json">
                {
                    "@context": "http://schema.org",
                    "@type": "LocalBusiness",
                    "name": "{{ self.get_site.site_name }}",
                    "brand": "{{ psettings.lb_brand|default:"" }}",
                    "logo": "{% static 'agency/img/logo.png' %}",
                    "description": "{{ psettings.seo_description|default:"" }}",
                    "url": "{{ base_url }}",
                    {% if psettings.lb_image %}
                        {% image psettings.lb_image width-400 as lb_image %}
                        "image": "{{ lb_image.url }}",
                    {% endif %}
                    {% if psettings.email %}
                        "email": "mailto:{{ psettings.email }}",
                    {% endif %}
                    "telephone": "{{ psettings.phone|default:"" }}",
                    "openingHours": "{{ psettings.lb_opening_hours|default:"" }}",
                    {% if settings.core.PortfolioSettings.lb_polygon %}
                        "areaServed": {
                            "@type": "GeoShape",
                            "polygon": "{{ settings.core.PortfolioSettings.lb_polygon }}",
                        },
                    {% endif %}
                    "sameAs": [
                        "{{ settings.core.PortfolioSettings.facebook_url|default:"" }}",
                        "{{ settings.core.PortfolioSettings.twitter_url|default:"" }}",
                        "{{ settings.core.PortfolioSettings.google_plus_url|default:"" }}"
                    ]
                }
            </script>
        {% endwith %}
    </body>
</html>
