{% load i18n wagtailcore_tags %}

<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-4 text-lg-start">
                <h4 class="text-uppercase mb-4">{% trans 'Contact' %}</h4>

                {% if settings.core.PortfolioSettings.address %}
                    <p class="lead mb-0">{{ settings.core.PortfolioSettings.address }}</p>
                {% endif %}

                {% if settings.core.PortfolioSettings.email %}
                    <p class="lead mb-0">
                        <a href="mailto:{{ settings.core.PortfolioSettings.email }}"
                           alt="{% trans 'Envoyer un email' %}">
                            {{ settings.core.PortfolioSettings.email }}
                        </a>
                    </p>
                {% endif %}

                {% if settings.core.PortfolioSettings.phone %}
                    <p class="lead mb-0">
                        <a href="tel:{{ settings.core.PortfolioSettings.phone }}"
                           alt="{% trans 'Appeler au numéro téléphonique' %}">
                            {{ settings.core.PortfolioSettings.phone }}
                        </a>
                    </p>
                {% endif %}
            </div>

            <div class="col-lg-4 my-3 my-lg-0">
                {% if settings.core.PortfolioSettings.twitter_url %}
                    <a class="btn btn-dark btn-social mx-2" aria-label="Twitter" href="{{ settings.core.PortfolioSettings.twitter_url }}" alt="{% trans 'Suivez moi sur Twitter' %}">
                        <i class="fab fa-twitter"></i>
                    </a>
                {% endif %}

                {% if settings.core.PortfolioSettings.facebook_url %}
                    <a class="btn btn-dark btn-social mx-2" aria-label="Facebook" href="{{ settings.core.PortfolioSettings.facebook_url }}" alt="{% trans 'Suivez moi sur Facebook' %}">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                {% endif %}

                {% if settings.core.PortfolioSettings.google_plus_url %}
                    <a class="btn btn-dark btn-social mx-2" aria-label="Google Plus" vhref="{{ settings.core.PortfolioSettings.google_plus_url }}" alt="{% trans 'Suivez moi sur Google plus' %}">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                {% endif %}

                {% if settings.core.PortfolioSettings.instagram_url %}
                    <a class="btn btn-dark btn-social mx-2" aria-label="Instagram" href="{{ settings.core.PortfolioSettings.instagram_url }}" alt="{% trans 'Suivez moi sur Instagram' %}">
                        <i class="fab fa-instagram"></i>
                    </a>
                {% endif %}
            </div>

            <div class="col-lg-4 text-lg-end">
                {% if settings.core.PortfolioSettings.timetable %}
                    <h4 class="text-uppercase mb-4">{% trans 'Horaires' %}</h4>
                    {{ settings.core.PortfolioSettings.timetable|richtext }}
                {% endif %}
            </div>
        </div>
    </div>
</footer>

<div class="copyright py-4 text-center bg-light">
    <div class="container">
        <small>Copyright &copy; {{ self.get_site.site_name }} {% now 'Y' %}</small>
    </div>
</div>
