{% load i18n wagtailimages_tags %}

{% image self.header_slide fill-1518x759 format-webp as header_slide %}

<header class="masthead"{% if self.header_slide %} style="background-image: url({{ header_slide.url }});"{% endif %}>
    <div class="container">
        <div class="intro-text">
            <div class="masthead-subheading">{{ self.header_lead }}</div>
            <div class="masthead-heading text-uppercase">{{ self.header_heading }}</div>
            <a class="btn btn-primary btn-xl text-uppercase" href="#services">
                {% trans 'En savoir plus' %}
            </a>
        </div>
    </div>
</header>
