{% load wagtailcore_tags %}

<header class="masthead bg-primary text-white text-center">
    <div class="container">

        {% if self.image %}
            {#    <img class="img-fluid mb-5 d-block mx-auto" src="" alt="">#}
            {% image self.image 'fill-256x256' class="img-fluid mb-5 d-block mx-auto" %}
        {% endif %}

        <h1 class="text-uppercase mb-0">{{ self.title }}</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">{{ self.text }}</h2>
    </div>
</header>
