{% extends "base.html" %}
{% load i18n static %}

{% block content %}

    <!-- Header -->
    {% include 'home/header.html' %}

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">{% trans 'Services' %}</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                {% for placement in self.service_placements.all %}
                    {% include 'home/service/grid.html' with service=placement.service index=loop.index %}
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Portfolio Modals -->
    {% for placement in self.service_placements.all %}
        {% include 'home/service/modal.html' with service=placement.service index=loop.index %}
    {% endfor %}

    <!-- About Section -->
    {% include 'home/about.html' %}

    <!-- Contact Section -->
    {% include 'contact/../../agency/contact_form.html' with form=contact_form %}

{% endblock %}
