{% extends "base.html" %}
{% load i18n static %}

{% block content %}

    <!-- Header -->
    {% include 'home/header.html' %}

    <!-- Services -->
    {% include 'home/services.html' %}

    <!-- Portfolio Grid -->
    {% include 'home/projects.html' %}

    <!-- Portfolio Modals -->
    {% for project in self.projects %}
        {% include 'home/blocks/project_modal.html' with project=project.value index=forloop.counter %}
    {% endfor %}

    <!-- About -->
    {% include 'home/about.html' %}

    <!-- Team -->
    {% include 'home/team.html' %}

    <!-- Contact -->
    {% include 'home/contact.html' %}

{% endblock %}