{% load i18n %}

<section id="services">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{% trans 'Services' %}</h2>
                {% if self.service_description %}
                    <h3 class="section-subheading text-muted">{{ self.service_description }}</h3>
                {% endif %}
            </div>
        </div>

        <div class="row text-center">

        {# ballade #}
        {# dog-leashed  #}
        {# fa-route #}
        {# fa-running #}

        {# vente #}
        {# fa-shopping-basket  #}
{#        <i class="fas fa-shopping-bag"></i>#}

        {# Evaluation #}
{#        <i class="fas fa-poll"></i>#}
        {# fa-award#}
        {# fa-medal #}
{#        <i class="fas fa-user-md"></i>#}
{#        <i class="fas fa-notes-medical"></i>#}
{#        <i class="fas fa-sticky-note"></i>#}
{#        <i class="fas fa-marker"></i>#}

        {# Cours #}
        {# fa-chalkboard-teacher #}
        {# fas fa-school#}
        {# fa-comment#}
        {# fa-comment-dots#}
        {# fa-book-open#}

            {% for service in services %}
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas {{ service.icon }} fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ service.title }}</h4>
                <p class="text-muted">{{ service.text }}</p>
            </div>
            {% endfor  %}
        </div>
    </div>
</section>
