SECRET_KEY = '<>'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '<DB_NAME>',
        'USER': '<DB_USER>',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}

LANGUAGE_CODE = 'fr-fr'

# Wagtail settings

WAGTAIL_SITE_NAME = 'portfolio'
BASE_URL = 'http://testserver'

# Portfolio settings

CONTACT_FORM_EMAILS = []
CONTACT_FORM_IP_ADDRESS_WHITELIST = []
CONTACT_FORM_IP_ADDRESS_BLACKLIST = []

############
# Production
############

# ALLOWED_HOSTS = []
# ADMINS = ()

# STATIC_ROOT = ''
# MEDIA_ROOT = ''

# DEFAULT_FROM_EMAIL = ''
# EMAIL_HOST = ''
# EMAIL_PORT = ''
# EMAIL_HOST_USER = ''
# EMAIL_HOST_PASSWORD = ''

# For Django back-office, enable SSL if needed
# CSRF_COOKIE_SECURE = True
# SESSION_COOKIE_SECURE = True
# SECURE_SSL_REDIRECT = True  # Just in case, should be done by webserver instead
