import os

SECRET_KEY = os.getenv("PORTFOLIO_SECRET_KEY", "bla-bla-bla")

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "NAME": os.getenv("PORTFOLIO_POSTGRES_DB", "postgres"),
        "USER": os.getenv("PORTFOLIO_POSTGRES_USER", "postgres"),
        "PASSWORD": os.getenv("PORTFOLIO_POSTGRES_PASSWORD", "postgres"),
        "HOST": os.getenv("PORTFOLIO_POSTGRES_HOST", "127.0.0.1"),
        "PORT": os.getenv("PORTFOLIO_POSTGRES_PORT", 5432),
    }
}

LANGUAGE_CODE = 'fr-fr'

# Wagtail settings

WAGTAIL_SITE_NAME = 'portfolio'

# Portfolio settings

CONTACT_FORM_EMAILS = []
CONTACT_FORM_IP_ADDRESS_WHITELIST = []
CONTACT_FORM_IP_ADDRESS_BLACKLIST = []

# Redis settings

redis_location = os.getenv("PORTFOLIO_REDIS_LOCATION")
if redis_location:
    redis_user = os.getenv("PORTFOLIO_REDIS_USER", "default")
    redis_password = os.getenv("PORTFOLIO_REDIS_PASSWORD")

    scheme, location = redis_location.split("://")
    redis_location = f"{scheme}://{redis_user}:{redis_password}@{location}"

    CACHES = {
        "default": {
            "BACKEND": "django.core.cache.backends.redis.RedisCache",
            "LOCATION": redis_location,
            "KEY_PREFIX": os.getenv("PORTFOLIO_REDIS_KEY_PREFIX", "portfolio"),
            "TIMEOUT": int(os.getenv("PORTFOLIO_REDIS_TIMEOUT", 86400)),
        },
    }
    CACHE_MIDDLEWARE_SECONDS = int(os.getenv("PORTFOLIO_CACHE_MIDDLEWARE_SECONDS", 86400))
    CACHE_MIDDLEWARE_ALIAS = 'default'
