{% load i18n wagtailcore_tags %}

<footer class="bg-light">
    <div class="container">
        <div class="row">

            <div class="col-md-4 mb-lg-0">
                <h4 class="text-uppercase mb-4">{% trans 'Contact' %}</h4>

                {% if settings.core.PortfolioSettings.address %}
                    <p class="lead mb-0">{{ settings.core.PortfolioSettings.address }}</p>
                {% endif %}

                {% if settings.core.PortfolioSettings.email %}
                    <p class="lead mb-0">
                        <a href="mailto:{{ settings.core.PortfolioSettings.email }}"
                           alt="{% trans 'Envoyer un email' %}">
                            {% trans 'Email: ' %}{{ settings.core.PortfolioSettings.email }}
                        </a>
                    </p>
                {% endif %}

                {% if settings.core.PortfolioSettings.phone %}
                    <p class="lead mb-0">
                        <a href="tel:{{ settings.core.PortfolioSettings.phone }}"
                           alt="{% trans 'Effectuer un appel téléphonique' %}">
                            {% trans 'Tél: ' %}{{ settings.core.PortfolioSettings.phone }}
                        </a>
                    </p>
                {% endif %}

                <span class="copyright">Copyright &copy; {{ page.get_site.site_name }} {% now "Y" %}</span>
            </div>

            <div class="col-md-4 mb-lg-0">
                <ul class="list-inline social-buttons mb-0">

                    {% if settings.core.PortfolioSettings.twitter_url %}
                        <li class="list-inline-item">
                            <a href="{{ settings.core.PortfolioSettings.twitter_url }}">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                    {% endif %}

                    {% if settings.core.PortfolioSettings.facebook_url %}
                        <li class="list-inline-item">
                            <a href="{{ settings.core.PortfolioSettings.facebook_url }}">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                    {% endif %}

                    {% if settings.core.PortfolioSettings.google_plus_url %}
                        <li class="list-inline-item">
                            <a href="{{ settings.core.PortfolioSettings.google_plus_url }}">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                    {% endif %}

                    {% if settings.core.PortfolioSettings.instagram_url %}
                        <li class="list-inline-item">
                            <a href="{{ settings.core.PortfolioSettings.instagram_url }}">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </div>
            <div class="col-md-4 mb-lg-0">
                {% if settings.core.PortfolioSettings.timetable %}
                    <h4 class="text-uppercase mb-4">{% trans 'Horaires' %}</h4>
                    {{ settings.core.PortfolioSettings.timetable|richtext }}
                {% endif %}
            </div>
        </div>
    </div>
</footer>