{% load i18n wagtailimages_tags %}

<div class="portfolio-modal modal fade" id="portfolioModal{{ index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">

                            <h2 class="text-uppercase">{{ project.name }}</h2>
                            <p class="item-intro text-muted">{{ project.intro }}</p>

                            {% image project.image fill-700x930 format-webp class="img-fluid d-block mx-auto" %}
                            <p>{{ project.text }}</p>

                            <ul class="list-inline">
                                {% if project.date %}
                                    <li>{% trans 'Date:' %} {{ project.date|date:"SHORT_DATE_FORMAT" }}</li>
                                {% endif %}
                                {% if project.client %}
                                    <li>{% trans 'Client:' %} {{ project.client }}</li>
                                {% endif %}
                            </ul>

                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                {% trans 'Fermer' %}
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
