{% load i18n static wagtailimages_tags %}

<div class="portfolio-modal modal fade" id="portfolioModal{{ index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <img src="{% static 'agency/assets/img/close-icon.svg' %}" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">

                            <h2 class="text-uppercase">{{ project.name }}</h2>
                            <p class="item-intro text-muted">{{ project.intro }}</p>

                            {% image project.image fill-700x930 format-webp class="img-fluid d-block mx-auto" %}
                            <p>{{ project.text }}</p>

                            <ul class="list-inline">
                                {% if project.date %}
                                    <li><strong>{% trans 'Date:' %}</strong> {{ project.date|date:"SHORT_DATE_FORMAT" }}</li>
                                {% endif %}
                                {% if project.client %}
                                    <li><strong>{% trans 'Client:' %}</strong> {{ project.client }}</li>
                                {% endif %}
                            </ul>

                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                {% trans 'Fermer' %}
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
